.cancel_button {
    display: flex;
    justify-content: center;
    user-select: none;

  > div {
      align-items: center;
      display: flex;
      justify-content: center;
      height: 4em;
      padding: 0 48px;
      min-width: 264px;
  }

  > div:active {
      padding: 0 40px;
  }
}
