.main_button {
    display: flex;
    justify-content: center;
    user-select: none;
    cursor: pointer;
  > div {
      align-items: center;
      background-image: url(/assets/images/main_button.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      display: flex;
      justify-content: center;
      height: 4em;
      padding: 0 48px;
      min-width: 264px;
  }
  > div:active {
      padding: 0 40px;
  }
}
