.choice_group_item {
    flex: 1;
    min-width: 160px;
    padding: 24px;
    text-align: center;
    border-radius: 10px;
    border: 1px;
}
.choice_group_item_info {
}

@media (max-width: 720px) {
    .choice_group_item_info {
        display: none;
    }
}