.group_view_container {
    display: flex;
    justify-content: space-between;
    height: calc(100% - 16px);
    padding: 8px;
    border-radius: 4px;
    border: 1px dashed white;
   flex-direction: row;
}

.store_header {
  width: 100%;
}

.seller {
    height: 100%;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/assets/images/store/yosya.svg");
    margin-right: 20px;
}
.items {
   display: flex;
  width: 50%;
  flex-direction: column;
}
.instruments {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/assets/images/store/instruments.svg");
    height: 50%;
}

.transfer {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/assets/images/store/transfer.svg");
    height: 50%;
}

.instruments_all {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/assets/images/store/instruments_all.svg");
    height: 100%;
}