.choice_group_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 16px;
    height: 100%;
}

.choice_group_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 720px) {

    .choice_group_container h1 {
        display: none;
    }
}