.event_info_container {
    display: flex;
    justify-content: space-around;
    height: calc(100% - 16px);
    padding: 8px;
    border-radius: 4px;
    border: 1px dashed white
}

.event_info_cols {
    display: flex;
    font-weight: 500;
}

.event_info_cols div:first-child {
    color: rgba(255, 255, 255, .5);
    text-align: left;
}

.event_info_cols div:last-child {
    padding: 0 0 0 8px;
    text-align: right;
}

.events_promo_items {
    display: flex;
    font-weight: 500;
}

.events_promo_items > div:first-child {
    text-align: left;
}

.events_promo_items > div:last-child {
    padding: 0 0 0 8px;
}

.events_promo_items > div:last-child .events_promo_item:last-child {
    color: rgba(255, 255, 255, .5);
}

.events_promo_item {
    display: flex;
    margin: 12px 0;
    text-align: left;
}

.row_container {
  padding: 40px;
  display:  flex;
  flex-direction: row;
  justify-content: space-between;
}

.event_info_wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/assets/images/wrapper_bg.svg);
}

.promo-radio {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 50%;
    margin: 0 8px 0 0;
    height: 16px;
    width: 16px;
}

.promo_enable {
    height: 8px;
    width: 8px;
    background-color: rgba(216, 0, 0, 1);
}